@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Очень полезная страница. Просто добавь +1</h1>

        <button type="button" id="sendBtn" class="btn btn-success btn-lg">Добавить +1</button>

    <h1 id="displayCount"></h1>
</div>
